/*---------教學內容 1--------*/

.teach-content
{
	padding: 20px;
}

.title-style img
{
        width: 250px;
        padding-top:20px; 
}


.class-img
{
	position:relative;
	margin: 0px 0 20px 0 ;
}
.class-img img
{
	width:100%;
}
.btn-buy
{
	width: 150px;
	padding: 10px 0px;
	outline: none !important;
	border: 0px;
	border-radius: 2px;
	position: absolute;
	background:#fff;
    font-size: 20px;
 	left: 50%;
	bottom: 0px;
	transform: translate(-50%,0);
	transition: .6s;
	opacity: 0;
	z-index: 1;
}
.btn-buy a:any-link 
{
    text-decoration: none;
    color: #000;
}
.class-img:hover .btn-buy
{
	transform: translate(-50%,50%);
	bottom: 50%;
	opacity:1;
}
.overlay
{
	height: 0;
	width:100%;
	background: #333;
	position:absolute;
	top: 0;
	opacity: 0;
	transition: .5s;
}
.class-img:hover .overlay
{
	opacity: .5;
	height:100%;
}
/*---------玩家狀態示範--------*/

.player
{
    padding: 10px 0px;
    background: #f5f6fc;
}
.player img
{
    width: 192px;
    height: 144px;
    padding: 5px;
}
.player h5
{
    margin-bottom: 5px
}
.player h6
{
    margin: 2px
}
.player h5::before
{
    content: '';
    width: 40px;
    height: 3px;
    background: #4f74e8;
    top: 24px;
    position: absolute;
}
/*---------教學內容 2 同教學內容一--------*/

/*---------多比課程--------*/

.fashion-brands
{
	margin: 0px 0 0px 0;
}
.brand-logo
{
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin: 50px auto 30px;
    box-shadow: 0px 2px 40px 0px rgba(110,130,208,0.18);
}
.brand-logo img
{
	width: 150px;
    margin: 50px auto;
}


.btn-buy
{
	width: 200px;
	padding: 10px 0px;
	outline: none !important;
	border: 0px;
	border-radius: 2px;
	position: absolute;
	background:#fff;
 	left: 50%;
	bottom: 0px;
	transform: translate(-50%,0);
	transition: .6s;
	opacity: 0;
	z-index: 1;
}
.btn-buy a:any-link 
{
    text-decoration: none;
    color: #000;
}
.brand-logo:hover .btn-buy
{
	transform: translate(-50%,50%);
	bottom: 50%;
	opacity:1;
}



.fashion-brands p
{
    margin-top: 30px;
    font-weight: bold;
}


/*---------table--------*/

.DIVtext {
	width: 60%;
	float:left;
	font-size: 20px;
	line-height: 36px;
	padding-top: 5%;
	padding-left: 3%;
	height: auto;
}


table, th, td {
	margin-bottom: 12px;
    border: 1px solid #D3D3D3;
	text-align: center;
}
table img {
    width: 100px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
	background-color:#DDDDDD;}
/*間隔的顏色不同*/
tr:nth-child(even) {
	background-color:#FFFFFF;
}
td {
    padding: 8px;
}
td a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
td a:hover, a:active {
  background-color: green;
  color: white;
}
/*內容部份-結束*/

/*---------footer--------*/

.footer
{
    margin-top: 150x;
    background: #f5f6fc;
}

.footer-icons
{
    text-align: right;
}
.footer-icons .fa
{
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}






/*---------for small device--------*/

@media only screen and (max-width:900px)
{
    .title-style img
    {
        width: 200px;
        padding-top:30px; 
    }
}