/*-----靜態banner區塊-----*/
.lesson-banner
{
	position:relative;
}
.lesson-banner-img
{
	width: 100%;
}
.lesson-banner-img img
{
	width: 100%;
	margin-bottom: -80px;
}
.lesson-banner-title
{
	position:absolute;
	left: 20%;
	top: 85%;
}
/*-----靜態banner區塊的文字先不放背景顏色-----*/
.lesson-banner-title h1
{
	font-size: 75px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 70px;
	padding: 0px 10px 5px 10px;
}
.lesson-banner-title p
{
	font-size: 35px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 40px;
	padding: 0px 10px 5px 10px;
	text-align: center;
}
/*----------寒暑期營隊-----------*/
.camps /*--和上下面的個區塊的距離--*/
{
	margin: 150px 0px 30px 0px;
}
/*--中間的文字大標題-開始--*/
.title-style h1
{
	padding: 30px 0px;
	font-size: 50px;
}
.title-style
{
	margin: 100px auto 80px;
	height: 120px;
	width:80%;
	max-width: 700px;
	background: #fff;
	position:relative;
	box-shadow: 0px 4px 5px 0px rgba(0,0,50,0.5);
}
.title-style::after
{
	content:'';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index:-1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index:-1;
}
/*--中間的文字大標題-結束--*/
.camps-text /*--和上下面的個區塊的距離--*/
{
	margin: 130px 0px 0px 0px;
}
.camps h4 /*--title文字的上下距離--*/
{
    font-size: 35px;
    font-weight: 600;
    margin-top: -20%;
}
#camps p
{
	margin-left: 10px;
	font-size: 20px;
	line-height: 30px;
}
/*--文字的上下間隔--*/
#camps ui li
{
    margin: 0px 0px;
}
/*--標題和文字的間隔--*/
#camps ui
{
	margin-left: 10px;
	font-size: 15px;
	line-height: 30px;
}
.camps img
{
	width: 70%;
	border-radius: 5px;
}
.camps-lesson
{
	margin-bottom: 10px;
}
.camps-lesson img
{
	width: 100%;
	border-radius: 0%;
}
.camps-lesson-text
{
	margin-bottom: 100px;
}
.camps-lesson-text ui
{
	list-style-type: disc;
}
#camps .btn-lesson /*透過FB小編報名課程*/
{
	margin: 30px 0px;
	color: #fff;
	font-size: 25px;
    font-weight: 600;
	box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f7182);
}
#camps .btn-lesson a
{
	color:#fff !important;
	text-decoration:none !important;
}
#camps .btn-lesson a:hover
{
	color:#fff !important;
	text-decoration:none !important;
}
.camps h5 /*--title文字的上下距離--*/
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 5%;
}


/*---------for small device--------*/

@media only screen and (max-width:900px)
{
    .lesson-banner-title h1
	{
		font-size: 30px;
		line-height: 30px;
	}
	.lesson-banner-title p
	{
		font-size: 25px;
		line-height: 30px;
	}
}


