
/*----------為什麼選擇我們-----------*/
.about-us /*--和上下面的個區塊的距離--*/
{
	margin: 150px 0px 30px 0px;
}
.title-style h1
{
	padding: 40px 0px;
}
.title-style
{
	margin: 50px auto 50px;
	height: 120px;
	width:80%;
	max-width: 700px;
	background: #fff;
	position:relative;
	box-shadow: 0px 4px 5px 0px rgba(0,0,50,0.5);
}
.title-style::after
{
	content:'';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index:-1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index:-1;
}
.about-us-text /*--和上下面的個區塊的距離--*/
{
	margin: 130px 0px 0px 0px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: -18%;
}
/*--文字的上下間隔--*/
#about-us ui li
{
    margin: 0px 0px;
}
/*--標題和文字的間隔--*/
#about-us ui
{
	margin-left: 10px;
	font-size: 25px;
	line-height: 30px;
}
.about-us img
{
	width: 100%;
	border-radius: 20px;
}

