/*-----靜態banner區塊-----*/
.lesson-banner
{
	position:relative;
}
.lesson-banner-img
{
	width: 100%;
	
}
.lesson-banner-img img
{
	width: 100%;
	margin-bottom: -80px;
	background-image: linear-gradient(to right, #a517ba, #5f7182);
}
.lesson-banner-title
{
	position:absolute;
	left: 30%;
	top: 70%;
}
/*-----靜態banner區塊的文字先不放背景顏色-----*/
.lesson-banner-title h1
{
	font-size: 75px;
	//background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 70px;
	padding: 0px 10px 5px 10px;
}
.lesson-banner-title p
{
	font-size: 35px;
	//background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 40px;
	padding: 0px 10px 5px 10px;
	text-align: center;
}
/*----------寒暑期營隊-----------*/
.FBarticle /*--和上下面的個區塊的距離--*/
{
	margin: 150px 0px 30px 0px;
}
/*--中間的文字大標題-開始--*/
.title-style h1
{
	padding: 30px 0px;
	font-size: 50px;
}
.title-style
{
	margin: 100px auto 80px;
	height: 120px;
	width:80%;
	max-width: 700px;
	background: #fff;
	position:relative;
	box-shadow: 0px 4px 5px 0px rgba(0,0,50,0.5);
}
.title-style::after
{
	content:'';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index:-1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index:-1;
}
/*--中間的文字大標題-結束--*/
.FBarticle-text /*--和上下面的個區塊的距離--*/
{
	margin: 130px 0px 0px 0px;
}

/*--文字的上下間隔--*/
#FBarticle ui li
{
    margin: 0px 50px;
}
/*--標題和文字的間隔--*/
#FBarticle ui
{
	font-size: 25px;
	line-height: 40px;
}
#FBarticle ui a
{
	color:#000 ;
	text-decoration:none;
}
#FBarticle ui a:hover
{
	color:#000 ;
	text-decoration:none;
	background: #ffb607;
}
.FBarticle img
{
	width: 50%;
	box-shadow: 3px 3px 12px gray;
	padding: 30px;
	background: #f5f6fc;
	border-radius: 10%;

}

/*---------for small device--------*/

@media only screen and (max-width:900px)
{
    .lesson-banner-title h1
	{
		font-size: 30px;
		line-height: 30px;
	}
	.lesson-banner-title p
	{
		font-size: 25px;
		line-height: 30px;
	}
	.lesson-banner-title
	{
		position:absolute;
		left: 10%;
		top: 70%;
	}
}


