/*----------我們有那些課程----------*/
.teach-content /*--和上下面的個區塊的距離--*/
{
	margin: 120px 0px 30px 0px;
}
.title-style h1
{
	padding: 30px 0px;
	font-size: 50px;
}
.title-style
{
	margin: 50px auto 50px;
	height: 120px;
	width:80%;
	max-width: 700px;
	background: #fff;
	position:relative;
	box-shadow: 0px 4px 5px 0px rgba(0,0,50,0.5);
}
.title-style::after
{
	content:'';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index:-1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index:-1;
}
.services img
{
	width: 100%;
	border-radius: 200px;
}
.services h4
{
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
}
.services p
{
	padding: 0px 60px;

}
#services .btn-primary
{
	font-size: 25px;
	box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f7182);
}
#services .btn-primary a
{
	color:#fff !important;
	text-decoration:none !important;
}
/*----------為什麼選擇我們-----------*/
.about-us /*--和上下面的個區塊的距離--*/
{
	margin: 50px 0px 30px 0px;
}
.title-style h1
{
	padding: 40px 0px;
}
.title-style
{
	margin: 50px auto 50px;
	height: 120px;
	width:80%;
	max-width: 700px;
	background: #fff;
	position:relative;
	box-shadow: 0px 4px 5px 0px rgba(0,0,50,0.5);
}
.title-style::after
{
	content:'';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index:-1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index:-1;
}
.about-us-text /*--文字和上下面的個區塊的距離--*/
{
	margin: 100px 0px 0px 0px;
	font-size: 25px;
	padding: 0px 50px ;
}
.about-title
{
    font-size: 30px;
    font-weight: 600;
    margin-top: -18%;
}
.about-us p
{
	padding: 0px 60px ;
}
.about-us img
{
	width: 60%;
	border-radius: 50%;
}
/*----------其它媒體看到我們區塊-----------*/
#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p
{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    width: 60px;
    transition: 0.5s;
	margin: 0 20px;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}



/*----------教室和訊息區塊-----------*/
.class-info
{
    margin-top: 80px;
    background: #f5f6fc;
}
.class-info h5
{
    margin-bottom: 10px
}
.class-info h5::before
{
    content: '';
    width: 72px;
    height: 4px;
    background: #4f74e8;
    top: 31px;
    position: absolute;
}
.class-info-box .fa 
{
    margin-right: 8px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f7182);
}

