TTTT/*h2和h3是給首頁的標題文字和內容使用*/
/*關於我們標題*/
.texttitle6 {
	padding: 10px 0px;
	width: 100%;
	font-size: 35px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#22A8E6;
}
.texttitle8 {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#F35B6A;
}
.texttitle10 {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#FFB217;
}

/*關於我們內容的圖文*/

.DIVtext {
	width: 50%;
	font-size: 18px;
	line-height: 30px;
	margin-right: 2%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	height: auto;
}
.DIVimg {
    width: 35%;
    float: left;
}
.DIVimg img {
	width: 100%;
	margin-top: 3%; 
	background-color:#F3F3F3;
    border: 1px solid #D8D8D8;
}
.DIVtext2 {
	width: 90%;
	font-size: 14px;
	line-height: 30px;
	margin: -1% 3% 5% 3%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 0%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0%;
	height: auto;
}
.DIVtext3 {
	width: 95%;
	font-size: 25px;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 0%;
	padding-left: 5%;
	padding-right: 0%;
	padding-bottom: 0%;
	height: auto;
}
.DIVtext4 {
	width: 95%;
	font-size: 1.2em;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color: white;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 1%;
	padding-bottom: 1%;
	height: auto;
}
.DIVtext4 img {
	width: 550px;
}
.DIVtext4bigTitle {
	font-size: 1.2em;
	color: #0008A2;
}
.DIVtext4Title {
	font-size: 1.2em;
	color: #555555;
}
.DIVtext4T1 {
	font-size: 1.1em;
	color: #237AFF;
}
.DIVtext4T2 {
	font-size: 0.8em;
	color: #222222;
}
.DIVtext4T3 {
	font-size: 1em;
	color: #D90003;
}

.DIVtext4L {
	width: 40%;
	font-size: 1.2em;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color: white;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 1%;
	padding-bottom: 1%;
	height: auto;
}
.DIVtext4R {
	width: 40%;
	font-size: 1.2em;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color: white;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 1%;
	padding-bottom: 1%;
	height: auto;
}

.DIVyoutbe1 {
	width: 45%;
	font-size: 18px;
	line-height: 30px;
	margin-right: 2%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 0%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0%;
	height: auto;
}
.DIVyoutbe2 {
	width: 45%;
	font-size: 18px;
	line-height: 30px;
	margin-right: 0%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 0%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0%;
	height: auto;
}

.h1title{
	font-size: 24px;
	color: #FF0000;
}
.h2title{
	font-size: 20px;
	font-weight: bold;
	color: #FF0000;
}
.satisfactiontalbe table{
    border: 0px;
}
.satisfactiontalbe td{
    border: 0px;
	text-align:left;
}
.tableimgwidth{
	width: 100%
}
table, th, td {
	margin-bottom: 12px;
    border: 1px solid #D3D3D3;
	
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
	background-color:#DDDDDD;
	text-align: center;
}
/*間隔的顏色不同*/
/*tr:nth-child(even) {
	background-color:#FFFFFF;
}*/
td {
    padding: 8px;
}

#notyet td {
	color:#7D7D7D;
}
.courseoutline a {  
	border:none;
    border-radius: 10px;
	color: #FFFFFF; 
	background-color: orange; 
	padding: 5px; 
	width: 130px;
    text-decoration:none;
}
.courseoutline a:hover { 
	cursor:pointer;
	border:none;
    border-radius: 10px;
	color: #FFFFFF;  
	background-color: darkorange; 
	padding: 5px; 
}
.teacherlink {
	text-align:center;
}
.teacherlink a {  
	font-size: 20px; 
	border: 1px #4CAF50 solid;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color: #4CAF50; 
	height: 20px; 
	padding-top: 3px; 
	padding-right: 10px; 
	padding-bottom: 3px; 
	padding-left: 10px;
    text-decoration:none;
}
.teacherlink a:hover {  
	font-size: 20px; 
	border: 1px #605080 solid; 
	cursor:pointer;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color:  #4CAF50;
	height: 20px; 
	padding-top: 3px; 
	padding-right: 10px; 
	padding-bottom: 3px; 
	padding-left: 10px;
}

