/*w3支援的跑馬燈程式-開始*/
.mySlides {
	display:none;}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;}
.w3-left, .w3-right{
	font-size:50px;opacity: 0.5;}	
.w3-badge {
	height:15px;width:15px;padding-bottom:0px;margin-top:200px;opacity: 0.5;}
/*w3支援的跑馬燈程式-結束*/
/*h2和h3是給首頁的標題文字和內容使用*/
/*關於我們標題*/
.texttitle {
	color: #2B65BF;
	text-align: right;
	width: 32%;
	float:left;
	font-size: 40px;
	padding-top: 5%;
	height: auto;
}


/*關於我們內容的圖文*/


.DIVtext {
	width: 60%;
	float:left;
	font-size: 20px;
	line-height: 36px;
	padding-top: 5%;
	padding-left: 3%;
	height: auto;
}
/*經歷*/
ul {
    padding-left: 50Px;
}
ul li a {
    color:#0000FF;
}
span {
	padding-left: 150px;
}

/*.DIVimg {
    width: 30%;
    float: left;
}
.DIVimg img {
	width: 100%;
	float: left;
	margin: 1%; 
	background-color:#F3F3F3;
    border: 1px solid #D8D8D8;
}*/
table, th, td {
	margin-bottom: 12px;
    border: 1px solid #D3D3D3;
	text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
	background-color:#DDDDDD;}
/*間隔的顏色不同*/
tr:nth-child(even) {
	background-color:#FFFFFF;
}
td {
    padding: 8px;
}
td a:link {
    text-decoration: none;
}
td a:hover {
     text-decoration:underline;
}
.teacherlink {
	text-align:center;
}
.satisfactiontalbe table{
    border: 0px;
}
.satisfactiontalbe td{
    border: 0px;
	text-align:left;
}

.teacherlink a {  
	font-size: 20px; 
	border: 1px #4CAF50 solid;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color: #4CAF50; 
	height: 20px; 
	padding-top: 3px; 
	padding-right: 10px; 
	padding-bottom: 3px; 
	padding-left: 10px;
    text-decoration:none;
}
.teacherlink a:hover {  
	font-size: 20px; 
	border: 1px #605080 solid; 
	cursor:pointer;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color:  #4CAF50;
	height: 20px; 
	padding-top: 3px; 
	padding-right: 10px; 
	padding-bottom: 3px; 
	padding-left: 10px;
}
/*TABLET*/
@media screen and (max-width: 1200px){
	h1 {
	font-size: 40px;
	padding-top: 280px;
	padding-left: 30px;
	}

.text {
	width: 80%;
	font-size: 35px;
	line-height: 40px;
	color: #FFFFFF;
	height: auto;
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	
}
}