﻿*
{
	margin: 0;
	padding: 0;
    font-family: "Microsoft YaHei", "FangSong", Arial, serif;
}
/*----------w3支援的跑馬燈程式----------*/
.mySlides {
	display:none;}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;}
.w3-left, .w3-right{
	font-size:50px;opacity: 0.5;}	
.w3-badge {
	height:15px;width:15px;padding-bottom:0px;margin-top:200px;opacity: 0.5;}
/*-----最上方選單區塊-----*/
.navbar /*選單的左右間距，選單不受控，要在下面調整*/
{
	padding: 0 0 0 15% !important; 
}
.nav-header /*選單背景顏色；和下面banner的距離*/ 
{
    background:#f5f6fc;
	margin-bottom: 0px;
}
.navbar-brand img /*logo圖和大小*/
{
	width:200px;
}
.--navbar-brand /*logo置中*/
{
	left: 50%;
	top: 25px;
	transform:translateX(-50%);
	position:absolute;
}
.nav-important /*寒暑期營隊*/
{
	background: #ffb607;
}
.collapse /*選單靠右的距離*/
{
	position:absolute;
	right: 15%;
}
.navbar-nav /*選單*/
{
	font-size: 20px; /*選單文字大小*/
}
.navbar-nav li a  /*選單在收起來會置右*/
{
	float: right;
	color:#000 !important;
    padding: 20px 15px !important;

}
.navbar-nav a:hover
{
    float: right;
    font-weight:bold;
    padding: 20px 15px !important;
}

.navbar-toggler  /*收起來的條狀選單*/
{
	border:none !important;
	outline:none !important;
	padding: 0 !important;
	margin-top: 0;
}
.navbar-toggler .fa /*收起來的條狀選單的大小*/
{
	font-size: 50px;
	cursor:pointer;
}
.navbar-title
{
	float:right;
}
#nav-header .btn-touch /*取得免費試上按鈕*/
{
	margin: 0 0 0 50px;
	color: #fff;
	font-size: 20px;
    font-weight: 600;
	box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f7182);
}
#nav-header .btn-touch a
{
	color:#fff !important;
	text-decoration:none !important;
}
#nav-header .btn-touch a:hover
{
	color:#fff !important;
	text-decoration:none !important;
}
/*-----靜態banner區塊-----*/
.banner
{
	position:relative;
}
.banner-img
{
	width: 100%;
}
.banner-img img
{
	width: 100%;
	margin-bottom: -80px;
}
.banner-title
{
	position:absolute;
	left: 10%;
	top: 45%;
}
/*-----靜態banner區塊的文字先不放背景顏色-----*/
.banner-title h1
{
	font-size: 75px;
	//background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 60px;
	padding: 0px 10px 5px 10px;
}
.banner-title p
{
	font-size: 35px;
	//background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 60px;
	padding: 0px 10px 5px 10px;
}

/*---------footer--------*/
.footer
{
    margin-top: 0px;
    background: #f5f6fc;
}
.footer p
{
	align-content: center;
}
.footer a:hover{
    color: #000000
}
/*---------for small device--------*/

@media only screen and (max-width:900px)
{
	.nav-header /*選單背景顏色；和下面banner的距離*/ 
	{
		margin-bottom: 60px;
	}
	.collapse /*選單*/
	{
		position:inherit;
	}
	.collapse /*選單靠右的距離*/
	{
		right: 0%;
	}
		.navbar-nav /*選單*/
	{
		font-size: 25px; /*選單文字大小*/
	}
	.navbar-nav li a  /*選單在收起來會置右*/
	{
		padding: 5px 0px !important;
	}
	.navbar-nav a:hover
	{
		padding: 5px 0px !important;
	}
	#nav-header .btn-touch /*取得免費試上按鈕*/
	{
		margin-right: 100px;
	}
    .banner-title h1
	{
		font-size: 35px;
		line-height: 30px;
	}
	.banner-title p
	{
		font-size: 25px;
		line-height: 30px;
	}
}