/*h2和h3是給首頁的標題文字和內容使用*/
/*關於我們標題*/
.Title1 {
	padding: 10px 0px;
	width: 100%;
	font-size: 35px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#22A8E6;
}


/*關於我們內容的圖文*/

.Text1 {
	width: 100%;

}
.Text1 img {
	width: 460Px;
}

.Text2L {
	width: 48%;
	font-size: 1.2em;
	line-height: 30px;
	margin: 0%; 
    float:left;
	background-color: white;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 1%;
	padding-bottom: 1%;
	height: auto;
}
.Text2bigTitle {
	font-size: 1.2em;
	color: #0008A2;
}
.Text2Title {
	font-size: 1.2em;
	color: #555555;
}
.Text2T1 {
	font-size: 1.1em;
	color: #237AFF;
}
.Text2T2 {
	font-size: 0.8em;
	color: #222222;
}
.Text2T3 {
	font-size: 1em;
	color: #D90003;
}
.Text2R {
	width: 40%;
	font-size: 1.2em;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color: white;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 1%;
	padding-bottom: 1%;
	height: auto;
}

.Text3 {
	width: 100%;
	font-size: 25px;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 0%;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
	height: auto;
}

.Text3 img {
	width: 470px;
}	
.Text3L {
	width: 41%;
	font-size: 18px;
	line-height: 35px;
	margin-right: 2%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	height: auto;
}

.Text3R {
	width: 41%;
	font-size: 18px;
	line-height: 35px;
	margin-right: 0%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	height: auto;
}


.Title2 {
	padding: 10px 0px;
	width: 100%;
	font-size: 35px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#22A8E6;
}

.Text5 {
	width: 95%;
	font-size: 25px;
	line-height: 35px;
	margin: 0%; 
    float:left;
	background-color:#F3F3F3;
	padding-top: 0%;
	padding-left: 5%;
	padding-right: 0%;
	padding-bottom: 0%;
	height: auto;
}


.SignUp {
	text-align:center;
}
.SignUp a {  
	font-size: 20px; 
	border: 1px #4CAF50 solid;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color: #4CAF50; 
	height: 20px; 
	padding-top: 3px; 
	padding-right: 10px; 
	padding-bottom: 3px; 
	padding-left: 10px;
    text-decoration:none;
}
.SignUp a:hover {  
	font-size: 20px; 
	border: 1px #605080 solid; 
	cursor:pointer;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color:  #4CAF50;
	height: 20px; 
	padding-top: 3px; 
	padding-right: 10px; 
	padding-bottom: 3px; 
	padding-left: 10px;
}

