/*w3支援的跑馬燈程式-開始*/
.mySlides {
	display:none;}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;}
.w3-left, .w3-right{
	font-size:50px;opacity: 0.5;}	
.w3-badge {
	height:15px;width:15px;padding-bottom:0px;margin-top:200px;opacity: 0.5;}
/*w3支援的跑馬燈程式-結束*/

/*合作伙伴和2019年，台灣兒童程式教育元年-開始*/
.DIVtext {
	width: 100%;
    float:left;
	height: auto;
}
.LearningPath img{
	width: 100%;
}
.DIVtext1 {
	width: 40%;
	font-size: 1.2em;
	line-height: 25px;
	float: left;
}
.DIVtext1title {
	font-size: 2em; 
	padding: 2px 5px;
}
.DIVtext2 {
	width: 60%;
	font-size: 1.2em;
	line-height: 35px;
	float: left;
}
.DIVtext2 a {  
	text-decoration:none;
	color:chocolate;
	padding: 5px;
}
.DIVtext2title {
	font-size: 2em; 
	padding: 2px 2px;
}
.DIVtext3title {
	text-align: center;
	padding: 10px 0px;
	width: 100%;
	font-size: 35px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#22A8E6;
}
/*合作伙伴和2019年，台灣兒童程式教育元年-結束*/



	

/*TABLET*/
@media screen and (max-width: 1200px){
	h1 {
	font-size: 2em;
	padding-top: 280px;
	padding-left: 30px;
	}
	.col {
		width: 98%;
		height:auto;
	}
	.colb {
		width: 98%;
		height:auto;
	}
	.colc {
		width: 98%;
		height:auto;
	}
.text {
	width: 80%;
	font-size: 1.5em;
	line-height: 40px;
	color: #FFFFFF;
	height: auto;
	display: block;
	padding-left: 10%;
	padding-right: 10%;
}