/*w3支援的跑馬燈程式-開始*/
.mySlides {
	display:none;}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;}
.w3-left, .w3-right{
	font-size:50px;opacity: 0.5;}	
.w3-badge {
	height:15px;width:15px;padding-bottom:0px;margin-top:200px;opacity: 0.5;}
/*w3支援的跑馬燈程式-結束*/

/*合作伙伴和2019年，台灣兒童程式教育元年-開始*/
.DIVtext {
	width: 100%;
    float:left;
	height: auto;
}
.DIVtext1 {
	width: 40%;
	font-size: 1.2em;
	line-height: 25px;
	float: left;
}
.DIVtext1title {
	font-size: 2em; 
	border: 1px #aaaaaa solid;
	padding: 2px 5px;
}
.DIVtext2 {
	width: 60%;
	font-size: 1.2em;
	line-height: 35px;
	float: left;
}
.DIVtext2 a {  
	text-decoration:none;
	color:chocolate;
	padding: 5px;
}
.DIVtext2title {
	font-size: 2em; 
	border: 1px #aaaaaa solid;
	padding: 2px 2px;
}
/*合作伙伴和2019年，台灣兒童程式教育元年-結束*/


/*7+9+11+下方分年齡木的三個區塊的內容和圖片-開始*/
.col01 {/*下方分年齡木的三個區塊*/
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color:#22A8E6;
	height: 800px; 
}
.col02 {/*下方分年齡木的三個區塊*/
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color:#F35B6A;
	height: 800px;  
}
.col03 {/*下方分年齡木的三個區塊*/
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color:#FFB217;
	height: 800px;  
}
.coltitle{
	color:#FFFFFF;
	font-size: 1.5px;
	width: 90%;
	display: block;
	text-align: center;
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
}
.col01 img {/*下方分年齡木的三個區塊的圖片*/
	width: 100%;
	height: auto;
	display: block;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}
.col02 img {/*下方分年齡木的三個區塊的圖片*/
	width: 100%;
	height: auto;
	display: block;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}
.col03 img {/*下方分年齡木的三個區塊的圖片*/
	width: 100%;
	height: auto;
	display: block;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}
.text { /*下方分年齡三個區塊的文字*/
	width: 90%;
	line-height: 30px;
	color: #FFFFFF;
	height: auto;
	display: block;
	padding-left: 10%;
	padding-right: 0%;
}
.text a { /*下方分年齡三個區塊的文字的連結*/
	    text-decoration:none;
}
/*7+9+11+下方分年齡木的三個區塊的內容和圖片-結束*/

	

/*TABLET*/
@media screen and (max-width: 1200px){
	h1 {
	font-size: 2em;
	padding-top: 280px;
	padding-left: 30px;
	}
	.col {
		width: 98%;
		height:auto;
	}
	.colb {
		width: 98%;
		height:auto;
	}
	.colc {
		width: 98%;
		height:auto;
	}
.text {
	width: 80%;
	font-size: 1.5em;
	line-height: 40px;
	color: #FFFFFF;
	height: auto;
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	
}
}