
/* CSS Document */
/*h1是給banner上的大字體*/
.logo {
	width: 100%;
	padding-top: 15px;
	padding-left: 0px;	
	
}

nav {
	float: right;
	padding-top: 20px;	 
	padding-left: 0px;	
	padding-right: 0px;	
	padding-bottom: 0px;	
}

body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體","webdings","Wingdings 3","DFKai-sb", serif;
}

.hero-box {
	height: 400px;
	background-image: url(../images/banner_home.jpg);
	background-size: cover;
	margin: 1% 0%;
}
.maker-box {
	height: 400px;
	background-image: url(../images/banner_4plus_class.jpg);
	background-size: cover;
	margin: 1% 0%;
}
.vacation-box {
	height: 400px;
	background-image: url(../images/banner_4plus_class.jpg);
	background-size: cover;
	margin: 1% 0%;
}
.bloxels-box {
	height: 400px;
	background-image: url(../images/banner_bloxels.jpg);
	background-size: cover;
	margin: 1% 0%;
}
.scratchjr-box {
	height: 400px;
	background-image: url(../images/banner_scratchjr.jpg);
	background-size: cover;
	margin: 1% 0%;
}
.scratch-box {
	height: 400px;
	background-image: url(../images/banner_scratch.jpg);
	background-size: cover;
	margin: 1% 0%;
}
.mio-box {
	height: 400px;
	background-image: url(../images/banner_mio.jpg);
	background-size: cover;
	margin: 1% 0%;
}






h1 {
	color: #FEFEFE;	
	font-size: 35px;
	padding-top: 90px;
	padding-left: 670px;
}
.email{
    text-align:right;
	width: 95%;
	font-size: 25px;
	
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*下拉選單*/
.dropdown-content a {
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
	font-size: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
	text-align: center;
	background-color:#1297C0;
	color: #FFFFFF;
}


/*TABLET
@media screen and (max-width: 1200px){
nav {
	float: right;
	padding-top: 0px;	 
	padding-left: 0px;	
	padding-right: 14px;	
	padding-bottom: 0px;	
}
nav ul li {
	font-size: 15px;
        float: left;
        border-right:1px solid #bbb;
}
}*/