/*h2和h3是給首頁的標題文字和內容使用*/
/*關於我們標題*/
.DIVimg {
	text-align: center;
}
.DIVimg img {
	width: 80%;
}
.texttitle {
	width: 32%;
	float:left;
	padding-top: 5%;
	height: auto;
}
.texttitle table{
	border-radius: 10Px;
	border:inset;
	border-color: black;
	padding: 10px;
}
.texttitle td{
	vertical-align: top;
}
.texttitle2 {
	padding: 5px 0px;
	width: 100%;
	font-size: 25px;
	color:#FFFFFF;
	margin-top: 1%;
    float:left;
	background-color:#22A8E6;
}
.texttitle3 {
	line-height: 25px;
}
/*關於我們內容的圖文*/


.DIVtext {
	width: 60%;
	float:left;
	font-size: 20px;
	line-height: 36px;
	padding-top: 5%;
	padding-left: 3%;
	height: auto;
}
/*經歷*/
ul {
    padding-left: 50Px;
}
ul li a {
    color:#0000FF;
}
span {
	padding-left: 150px;
}
.teacherlink a {  
	font-size: 20px; 
	border: 1px #4CAF50 solid;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color: #4CAF50; 
	height: 20px; 
	padding-top: 2px; 
	padding-right: 2px; 
	padding-bottom: 2px; 
	padding-left: 2px;
    text-decoration:none;
}
.teacherlink {
	text-align:center;
}
.teacherlink a:hover {  
	font-size: 20px; 
	border: 1px #605080 solid; 
	cursor:pointer;
    border-radius: 5px;
	color: #FFFFFF;  
	background-color:  #4CAF50;
	height: 20px; 
	padding-top: 2px; 
	padding-right: 2px; 
	padding-bottom: 2px; 
	padding-left: 2px;
}
.h1title{
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.h2title{
	font-size: 20px;
	font-weight: bold;
	color: #FF0000;
}

/*TABLET*/
@media screen and (max-width: 1200px){
	h1 {
	font-size: 40px;
	padding-top: 280px;
	padding-left: 30px;
	}

.text {
	width: 80%;
	font-size: 35px;
	line-height: 40px;
	color: #FFFFFF;
	height: auto;
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	
}
}