/*課程介紹標題*/
.titletextlesson {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:20px; 
	font-size: 40px;
	color:#FFFFFF;
	background-color:#F45B6D;
	background-color:#F45B6D;
	width: 96.4%;
	margin-left: 1%;
    float:left;
}

.col {
	width: 22.8%;
	float: left;
	margin: 1%;
	background-color:#F3F3F3;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
}
.col img {
	width: 90%;
    float: left;
	height: auto;
	display: block;
	padding-top: 10%; 
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0%;
}

.texttitle{
    float: left;
	color:deepskyblue;
	font-size: 18px;
    font-weight:bold;
	padding-top: 3%; 
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
}

.text {
    float: left;
	width: 90%;
	height: auto;
	display: block;
	line-height: 24px;
	padding-top: 0%; 
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}





/*TABLET*/
@media screen and (max-width: 1200px){
	h1 {
	font-size: 40px;
	padding-top: 280px;
	padding-left: 30px;
	}
	.col {
		width: 47%;
	}
	.colb {
		width: 47%;
	}
	.colc {
		width: 47%;
	}
	.texttitle{
	font-size: 40px;
	}
	.text{
	font-size: 30px;
	line-height: 32px;
	}
	.hidden-xs {
		display: none;
	}
}

@media screen and (max-width: 600px){
	h1 {
	font-size: 40px;
	padding-top: 280px;
	padding-left: 30px;
	}
	.col {
		width: 98%;
	}
	.colb {
		width: 98%;
	}
	.colc {
		width: 98%;
	}
	.hidden-xs {
		display: none;
	}
}
