/*----------大標題-----------*/
.title-style h1
{
	padding: 40px 0px;
}
.title-style
{
	margin: 50px auto 50px;
	height: 120px;
	width:80%;
	max-width: 700px;
	background: #fff;
	position:relative;
	box-shadow: 0px 4px 5px 0px rgba(0,0,50,0.5);
}
.title-style::after
{
	content:'';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index:-1;
}
.title-style::before
{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #ffb607;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index:-1;
}
/*---------課前準備--------*/
.lesson-before /*--和上下面的個區塊的距離--*/
{
	margin: 50px 0px 30px 0px;
}

.class-logo img
{
	width: 200px;
	height: 200px;
	box-shadow: 3px 3px 12px gray;
	padding: 10px;
	background: #f5f6fc;
	border-radius: 10%;
}

.lesson-before p
{
    margin-top: 0px;
    font-weight: bold;
}
.lesson-before i
{
    color: red;
    font-size: 25px;
}
.lesson-before ui
{
	list-style-type: decimal;
}
