
.fashion-brands
{
	margin: 0px 0 0px 0;
}

.container table
{
    text-align: center;
}

/*---------footer--------*/

.footer
{
    margin-top: 150x;
    background: #f5f6fc;
}

.footer-icons
{
    text-align: right;
}
.footer-icons .fa
{
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}