﻿*
{
	margin: 0;
	padding: 0;
    font-family: "Microsoft YaHei", "FangSong", Arial, serif;
}
/*-----最上方選單區塊-----*/
.navbar /*選單的左右間距*/
{
	padding: 0 30px !important; 
}
.nav-header /*選單背景顏色；和下面banner的距離*/ 
{
    background:#f5f6fc;
	margin-bottom: 0px;
}
.navbar-brand img /*logo圖和大小*/
{
	width:200px;
}
.--navbar-brand /*logo置中*/
{
	left: 50%;
	top: 25px;
	transform:translateX(-50%);
	position:absolute;
}
.collapse /*選單*/
{
	position:absolute;
	right: 0px;
}
.navbar-nav /*選單*/
{
    font-size: 20px; /*選單文字大小*/
}
.navbar-nav li a  /*選單在收起來會置右*/
{
    float: right;
	color:#000 !important;
    padding: 0px 15px !important;

}
.navbar-nav a:hover
{
    float: right;
    font-weight:bold;
    padding: 0px 15px !important;
}

.navbar-toggler  /*收起來的條狀選單*/
{
	border:none !important;
	outline:none !important;
	padding: 0 !important;
	margin-top: 0;
}
.navbar-toggler .fa /*收起來的條狀選單的大小*/
{
	font-size: 50px;
	cursor:pointer;
}
.navbar-title
{
	float:right;
}
#nav-header .btn-touch /*取得免費試上按鈕*/
{
	margin: 0 30px;
	color: #fff;
	font-size: 25px;
    font-weight: 600;
	box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f7182);
}
#nav-header .btn-touch a
{
	color:#fff !important;
	text-decoration:none !important;
}
#nav-header .btn-touch a:hover
{
	color:#fff !important;
	text-decoration:none !important;
}
/*-----靜態banner區塊-----*/
.banner
{
	position:relative;
}
.banner-img
{
	width: 100%;
}
.banner-img img
{
	width: 100%;
	margin-bottom: -80px;
}
.banner-title
{
	position:absolute;
	left: 10%;
	top: 45%;
}	
.banner-title h1
{
	font-size: 75px;
	//background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 60px;
	padding: 0px 10px 5px 10px;
}
.banner-title p
{
	font-size: 35px;
	//background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 60px;
	padding: 0px 10px 5px 10px;
}


/*---------footer--------*/

.footer
{
    margin-top: 80px;
    background: #f5f6fc;
}
.-classroom1,.classroom2,.classroom3
{
    margin: 10px auto;
}

.footer h5
{
    margin-bottom: 10px
}
.footer h5::before
{
    content: '';
    width: 80px;
    height: 3px;
    background: #4f74e8;
    top: 35px;
    position: absolute;
}
/*--
.footer-icons
{
    text-align: right;
}
.footer-icons a
{
    text-decoration: none;
    color: #000 !important;
}
.footer-icons .fa
{
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}
--*/
.copyright a
{
	color:#000 !important;
	text-decoration:none !important;
}
/*----------連繫我們區塊-----------*/
.footer-box .fa 
{
    margin-right: 8px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f7182);
}
/*---------for small device--------*/

@media only screen and (max-width:900px)
{
	.nav-header /*選單背景顏色；和下面banner的距離*/ 
	{
		margin-bottom: 60px;
	}
	.collapse /*選單*/
	{
		position:inherit;
	}
	.navbar-nav /*選單*/
{
    font-size: 25px; /*選單文字大小*/
}
	.navbar-nav li a  /*選單在收起來會置右*/
	{
		padding: 5px 0px !important;
	}
	.navbar-nav a:hover
	{
		padding: 5px 0px !important;
	}
#nav-header .btn-touch /*取得免費試上按鈕*/
{
	margin-right: 100px;
}
    
}